apiVersion: v1
kind: Service
metadata:
  name: devops-api-service
  labels:
    app: devops-api
spec:
  type: NodePort
  selector:
    app: devops-api
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      nodePort: 30080
      protocol: TCP
